WEB_PORT=8080

# Web admin login
WEB_USERNAME=admin
WEB_PASSWORD=change-me

# The following options can be configured in the web admin after startup:
# TELEGRAM_BOT_TOKEN
# GUANGYA_API_BASE
# GUANGYA_API_KEY
# PAGE_SIZE
# MAX_RESULTS
# SEARCH_STATUS
# PROXY_ENABLED
# PROXY_URL
